<!-- START : PANEL -->
<div class="col-sm-12"
    [ngClass]="configuration.classes">
  <div id="content" class="navbar-adjustment">

    <!-- NO ROWS TO ADD -->
    <div *ngIf="configuration.rows.length === 0" class="alert alert-info">
      <i class="fa fa-info"></i>
      This is panel widget
    </div>

    <!-- ADD ROWS FROM CONFIGURATION -->
    <div *ngIf="configuration.rows.length > 0">
      <app-row
          *ngFor="let row of configuration.rows"
          [configuration]="row.configuration">
      </app-row>
    </div>

  </div>
</div>
<!-- END : PANEL -->
