<div flex fxLayout="row" fxLayoutAlign="start center">
    <div style="display: block;">
        <div *ngIf="data">
            <canvas baseChart
                    width="inherit" height="300"
                    [data]="data"
                    [labels]="labels"
                    [options]="graphPresets.options"
                    [legend]="graphPresets.legend"
                    [chartType]="graphType"
                    [colors]="graphPresets.chartColors">
            </canvas>
        </div>
    </div>
</div>
