<div class="flex">
    <div class="flex-item">
        <div style="display: block;">
            <div *ngIf="data">
                <canvas baseChart
                        width="400" height="400"
                        [data]="data"
                        [labels]="labels"
                        [options]="graphPresets.options"
                        [legend]="graphPresets.legend"
                        [chartType]="graphType"
                        [colors]="graphPresets.chartColors">
                </canvas>
            </div>
        </div>
    </div>
</div>
