<div class="container-fluid">
    <div class="row" *ngIf="isLoading">
        <app-page-loader></app-page-loader>
    </div>
    <div class="row" *ngIf="!isLoading">

        <!-- BEGIN : LEFT SIDE COLUMN -->
        <div class="col-sm-1 col-md-3 col-lg-2">
            <nav class="navbar navbar-default navbar-fixed-side navbar-adjustment">
                <div class="container">
                    <div class="navbar-collapse">
                        <div class="container-fluid">

                            <!-- BEGIN : SENSOR READINGS -->
                            <div class="row">
                                <div class="col-xs-12">
                                    <app-readings-list></app-readings-list>
                                </div>
                            </div>
                            <!-- END : SENSOR READINGS -->

                            <!-- BEGIN : RELAY PANEL -->
                            <div class="row">
                                <div class="col-xs-12">
                                    <app-relays></app-relays>
                                </div>
                            </div>
                            <!-- END: RELAY PANEL -->
                        </div>
                    </div>
                </div>
            </nav>
        </div>
        <!-- END : LEFT SIDE COLUMN -->

        <!-- BEGIN : CENTER COLUMN -->
        <div class="col-sm-12 col-md-offset-0 col-md-6">
            <div id="content" class="navbar-adjustment">
                <!-- CONTENT WILL GO HERE : GRAPHS, TABLES ETC -->

                <!-- BEGIN: Main Graph-Table Component -->
                <div class="row">
                    <div>
                        <app-graph-table>
                        </app-graph-table>
                    </div>
                </div>
            </div>
        </div>
        <!-- END : RIGHT SIDE  COLUMN -->
        <div class="col-sm-9 col-md-offset-0">
            <nav class="panel-body-list navbar navbar-right navbar-fixed-side navbar-adjustment">
                <div class="container">
                    <div class="navbar-collapse">
                        <div class="container-fluid">
                            <div class="row">
                                <app-simple-reading
                                    [atrib]="'temperature'"></app-simple-reading>
                            </div>
                            <div class="row">
                                <app-simple-reading
                                    [atrib]="'humidity'"></app-simple-reading>
                            </div>
                            <div class="row">
                                <app-simple-reading
                                    [atrib]="'moisture'"></app-simple-reading>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</div>
