<form (ngSubmit)="submit()" [formGroup]="form" novalidate>

    <!-- BEGIN : ERROR OUTPUT -->
    <app-alert *ngIf="errorShown"
               [message]="errorMessage"></app-alert>
    <!-- END : ERROR OUTPUT -->

    <!-- INPUT ALIAS -->
    <div class="form-group">
        <label class="sr-only"
               for="alias">Alias</label>

        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
            <div class="input-group-addon input-icon-color input-sm">
                <i class="fa fa-user"></i>
            </div>
            <input class="form-control input-sm"
                   type="text"
                   id="alias"
                   placeholder="Component Alias"
                   formControlName="alias"/>
        </div>
    </div>
    <!-- END : INPUT ALIAS -->


    <!-- INPUT PIN -->
    <div class="form-group" formGroupName="pin">
        <label class="sr-only"
               for="pin">Pin</label>

        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
            <div class="input-group-addon input-icon-color input-sm">
                <i class="fa fa-lock"></i>
            </div>
            <input class="form-control input-sm"
                   id="pin"
                   placeholder="Pin Number"
                   type="number"
                   formControlName="number"/>
        </div>
        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
            <div class="input-group-addon input-icon-color input-sm">
                <i class="fa fa-lock"></i>
            </div>
            <select class="form-control input-sm"
                    id="pin_direction"
                    placeholder="Pin Direction"
                    formControlName="direction">
                <option value="" disabled selected>Pin Direction</option>
                <option *ngFor="let item of rPiPinDirection | keys" [value]="item.key">{{item.value}}</option>
            </select>
        </div>
        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
            <div class="input-group-addon input-icon-color input-sm">
                <i class="fa fa-lock"></i>
            </div>
            <input class="form-control input-sm"
                   id="description"
                   placeholder="Pin Description"
                   type="text"
                   formControlName="description"/>
        </div>
    </div>
    <!-- END : INPUT PIN -->

    <!-- INPUT COMPONENT TYPE -->
    <div class="form-group">
        <label class="sr-only"
               for="type">Type</label>

        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
            <div class="input-group-addon input-icon-color input-sm">
                <i class="fa fa-lock"></i>
            </div>
            <select class="form-control input-sm"
                    id="type"
                    placeholder="Component Type"
                    type="text"
                    formControlName="type">
                <option value="" disabled selected>Component Type</option>
                <option *ngFor="let item of rPiComponentType | keys" [value]="item.key">{{item.value}}</option>
            </select>
        </div>
    </div>
    <!-- END : INPUT COMPONENT TYPE -->

    <legend></legend>
    <!-- FORM BUTTONS -->
    <div class="form-group pull-right">
        <button type="submit"
                class="btn btn-success d-flex p-2 btn-lg">
            Create
        </button>
        <button *ngIf="formSettings.isClearable" type="reset"
                class="btn btn-default align-middle btn-lg">
            Clear
        </button>
    </div>
    <!--  END : FORM BUTTONS -->

</form>
